// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #parallax1 .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #parallax1 .section {
    top: 0;
  }
}

main div#roster.scrollspy.container {
  padding-top: 48px;
}

.uppercase {
  text-transform: uppercase;
}