<footer class="page-footer light-blue-text text-darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 left-align">
        <h5 class="white-text">About me</h5>
        <p class="grey-text text-lighten-4">I'm a computer engineer who loves to make new things and tries to keep things clean as much as he can. This idea started as a final project for one of my classes at Grand Valley State University.</p>
      </div>
      <div class="col l6 s12 right-align">
        <h5 class="white-text">More</h5>
        <ul>
          <li>
            <a class="white-text" href="https://raulolmedo.com">My personal web page</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <i class="fas fa-code"></i>
      <span>with</span>
      <a class="pink-text text-lighten-3" href="https://materializecss.com">Materialize</a>
      <span>&</span>
      <a class="red-text text-lighten-2" href="https://rubyonrails.org">Ruby On Rails</a>
      <div class="right">
        <span>See this project on</span>
        <a href="https://github.com/olmedocr/make-your-fridge-great-again"><i class="fab fa-github fa-lg white-text"></i></a>
      </div>
    </div>
  </div>
</footer>